django-sample.code-workspace
db.sqlite3
polls/__pycache__/urls.cpython-39.pyc
djangoSample/__pycache__/urls.cpython-39.pyc
djangoSample/__pycache__/urls.cpython-39.pyc
polls/__pycache__/urls.cpython-39.pyc
